*{
    background-color: white;
}
main{
    text-align: center;
}
h1{
    background-color: antiquewhite;
    color: black;
    padding: 20px;
    margin-bottom: 30px;
}
.img1{
    border-radius: 25%;
}
h2{
    background-color: black;
    color: aliceblue;
}
ul,ol{
    list-style-type: none;
}