*{
    background-color: white;
}
main{
    text-align: center;
}
h1{
    background-color: antiquewhite;
    color: black;
    padding: 20px;
    margin-bottom: 30px;
}
.img1{
    border-radius: 25%;
}
h2{
    background-color: black;
    color: aliceblue;
}
ul,ol{
    list-style-type: none;
}
.pd{
   padding: 10px;
   margin-bottom: 30px;
}
.sub{
    margin: 20px;
}
button{
    padding: 5px 10px;
    border-radius: 50px;
    background-color: black;
    color: white;
}
footer{
    text-align: center;
    margin-top: 30px;
}